a{
	text-decoration:none;
	color: black;
}

a:hover{
	color: black;
	text-decoration: none;
}

.red {
    color: red;
}

.blue {
    color: blue;
}

.green {
    color: green;
}

.black {
    color: black;
}

.orange {
    color: orange;
}

.yellow {
    color: yellow;
}